@model Daurecard.Models.ViewModels.RegisterViewModel
@{
}

<div id="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>S'inscrire</h2>
            <form method="post" asp-controller="Account" asp-action="Register">
                <h4>Créer un nouveau compte.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-md-2">Nom</label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label class="col-md-2" asp-for="Email"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label class="col-md-2">Mot de passe</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label class="col-md-2">Confirmer mot de passe</label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2">Roles</label>
                    <div class="col-md-10">
                        <select asp-for="RoleName" asp-items="@Daurecard.Utils.Helper.GetRolesForDropDown()" class="form-control">
                            <option class="text-center">--Select a role--</option>
                        </select>
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 5px;">
                    <div class="col-md-10 offset-md-2">
                        <input type="submit" value="Enregistrer" class="btn btn-success" />
                    </div>
                </div>
                <p class="col-md-10 offset-md-2" style="margin-top: 5px;">
                    <a class="btn btn-primary" asp-action="Login">Se connecter</a>
                </p>
            </form>
        </div>
        </div>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
