@model Daurecard.Models.ViewModels.ClientViewModel

@{
    ViewData["Title"] = "Edit";
}


<style type="text/css">
    .myloader {
        animation: spin 1s infinite linear;
        position: absolute;
        border: 2px solid rgba(30, 30, 30, 0.5);
        border-left: 4px solid #fff;
        border-radius: 50%;
        height: 100px;
        margin-bottom: 10px;
        width: 100px;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
</style>
 
<script type="text/javascript">

    function submitStudent() {
        var formData = new FormData($("#clientForm")[0]);
        var uploadControl = document.getElementById('upldImage');
        var remove = document.getElementById("input");
        var id = document.getElementById('clientId').value;
        var url = '/Client/Edit/' + id;


        if (uploadControl.files.length === 0) {
            $("#divLoader").show();
            $("#clientForm").hide();
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    $("#divLoader").hide();
                    $("#clientForm").show();
                    window.location.href = "/Client/Index?msg=Client modifié avec succès";
                },
                error: function (error) {
                    $("#divLoader").hide();
                    console.log(error);
                }
            });
        }
        else {
            $("#divLoader").show();
            $("#clientForm").hide();
            $.ajax({
                url: url,
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr, opts) {

                        if (uploadControl.files[0].size > 1024 * 1024) {
                            $("#divLoader").hide();
                            $("#clientForm").show();
                            $("#labelImage").show();
                            return false;
                        }
                },
                success: function (result) {
                    $("#divLoader").hide();
                    $("#clientForm").show();
                    window.location.href = "/Client/Index?msg=Client modifié avec succès";
                },
                error: function (error) {
                    $("#divLoader").hide();
                    console.log('Failed ');
                }
            });
        }
    }
</script>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Modifer un client</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index">Client</a></li>
                <li class="breadcrumb-item active">Modifier</li>
            </ol>
        </nav>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <div id="divLoader" class="myloader" style="display:none;">
            </div>
            <form id="clientForm" method="post" enctype="multipart/form-data" style="width:80%;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="clientId" type="hidden" asp-for="Client.Id" />
                <div class="form-group row">
                    <label asp-for="Client.Nom" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Client.Nom" class="form-control" />
                        <span asp-validation-for="Client.Nom" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.Prenom" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Client.Prenom" class="form-control" />
                        <span asp-validation-for="Client.Prenom" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.PostNom" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Client.PostNom" class="form-control" />
                        <span asp-validation-for="Client.PostNom" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.Tel" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Client.Tel" class="form-control" />
                        <span asp-validation-for="Client.Tel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.Entreprise" class="col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="Client.EntrepriseId" class="form-control" asp-items="@Model.EntreprisesList">
                            <option selected class="text-center">--Selectionner une entreprise--</option>
                        </select>
                        <span asp-validation-for="Client.EntrepriseId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.ImageFile" class="col-md-2"></label>
                    <div class="col-md-10" id="input">
                        <input id="upldImage" asp-for="Client.ImageFile" class="form-control" accept="image/jpeg" />
                        <span id="labelImage" asp-validation-for="Client.ImageFile" class="text-danger" style="display:none;">
                            Cette image est trop large veuillez séléctionner une autre image
                        </span>
                    </div>
                </div>

                <h5 style="color: #51678F; margin-top: 10px;">Réseaux sociaux</h5>
                <hr />
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.Facebook" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input id="txtFacebook" asp-for="Client.Facebook" class="form-control" />
                        <span asp-validation-for="Client.Facebook" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.Twitter" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input id="txtTwitter" asp-for="Client.Twitter" class="form-control" />
                        <span asp-validation-for="Client.Twitter" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 5px;">
                    <label asp-for="Client.LinkdeIn" class="col-md-2"></label>
                    <div class="col-md-10">
                        <input id="txtLinkedIn" asp-for="Client.LinkdeIn" class="form-control" />
                        <span asp-validation-for="Client.LinkdeIn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 5px;">
                    <div class="col-md-10 offset-md-2">
                        <input onclick="submitStudent()" value="Enregistrer" style="width: 120px;" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <img id="imgProfile" src="~/Image/@Model.Client.ProfileImage" class="img-thumbnail" />
        </div>
    </div>
</main>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
