@model Daurecard.Models.DownloadVCard
@{
}

<main id="main" class="main">
    <div>
        <h4>Veuillez renouveller votre abonnement afin de pouvoir partager vos contacts avec votre entourage !</h4>
    </div>
</main>